<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.648441755880-ufqhb40a3a4m0sdlc202hm0hguuq75f4</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>PureMetrics uses Face ID to protect your health data</string>
	<key>NSBiometricUsageDescription</key>
	<string>PureMetrics uses biometric authentication to secure your health information</string>
	<key>NSHealthShareUsageDescription</key>
	<string>PureMetrics accesses your health data to provide insights and trends</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>PureMetrics updates your health data to keep it synchronized</string>
	<key>NSCameraUsageDescription</key>
	<string>PureMetrics uses the camera to take profile photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PureMetrics accesses your photo library to select profile photos</string>
</dict>
</plist>
